@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);

  --color-corporate-white: #F8FAFC;
  --color-brand-teal: #7D9F9E;
  --color-navy-blue: #0F172A;
}

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}